<h1>Seja Bem-Vindo(a)!</h1>
<p><strong>Data:</strong> <%= data_br(Date.today) %></p>

<%# <%nome = "Thainara"%>
<%# <p>Meu nome de trás para frente é: <%= nome.reverse.upcase %>
<%# <>a data de hoje é: <%= Date.today %>

<%= render "menu" %> <!--Partials, buscando menu no arquivo _menu.html.erb-->

<p> Você está em ambiente de <strong> <%= ambiente_rails %> </strong> </p> <!--Ambiente rails é um helper -->
<p>Meu nome é: <strong><%= @meu_nome %></strong></p> <!--variável de instância/sessão-->
<p>Meu curso é: <strong><%= @curso %></strong>