<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to "Editar essa moeda", edit_coin_path(@coin) %> |
  <%= link_to "voltar para moedas", coins_path %>

  <%= button_to "Deletar essa moeda", @coin, method: :delete %>
</div>
